@charset "UTF-8";
section.hidden {
  display: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
  height: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

input {
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #F0F0F0;
  background: #F0F0F0;
  border-radius: 12px;
  padding: 15px 15px;
  max-width: 100%;
  width: 100%;
}
input:focus {
  outline: none;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  padding: 15px;
  font-size: 20px;
  background: #adf0d1;
  color: #000;
  border-radius: 50px;
}

.pay__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
  padding: 50px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
@media (max-width: 480px) {
  .pay__wrapper {
    padding: 40px 30px;
  }
}
.pay__title {
  font-weight: 700;
  font-size: 38px;
}
.pay__text {
  font-size: 18px;
}
.pay__warn {
  color: #c5882c;
}
.pay__qrcode {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.pay__qrcode img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.pay__qrcode-text {
  text-align: center;
  color: #104280;
  display: block;
  margin: 0 auto;
}
.pay__or {
  display: flex;
  align-items: center;
  display: block;
  text-align: center;
  background: #fff;
  z-index: 5;
  position: relative;
}
.pay__or::after {
  font-family: "Ubuntu", sans-serif;
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  height: 1px;
  background: rgb(158, 158, 158);
}
.pay__or::before {
  font-family: "Ubuntu", sans-serif;
  content: "или";
  color: #000;
  z-index: 1;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  width: 50px;
  height: 20px;
  background: #fff;
}
.pay__input-top {
  padding-bottom: 10px;
}
.pay__input-title {
  font-weight: 500;
  font-size: 18px;
}
.pay__input-inner {
  display: flex;
  align-items: stretch;
  gap: 8px;
}
.pay__input-copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 12px;
}
.pay__input-copy img {
  max-width: 24px;
  width: 100%;
}
.pay__bottom {
  font-size: 16px;
  color: gray;
  text-align: center;
}
.pay__box-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .pay__box-title {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  .pay__box-title {
    font-size: 25px;
  }
}
.pay__box-text {
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
  color: gray;
  line-height: 1.2;
}
.pay__box-text span {
  font-weight: 500;
}
.pay__powered {
  padding-top: 80px;
}
.pay__powered-text {
  text-align: center;
  color: gray;
  font-size: 14px;
  font-weight: 400;
}
.pay__powered-text a {
  color: #000;
  font-weight: 500;
}
.pay__powered-policy {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  text-align: center;
  padding-top: 20px;
  line-height: 1.2;
  max-width: 380px;
  margin: 0 auto;
}
.pay__powered-policy a {
  font-weight: 600;
  color: #104280;
}
.pay__check-img {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
}
.pay__check-title {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  border: 4px solid #fff;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
}
.progress-bar::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
}
.progress-bar::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 45px;
  width: 100px;
  height: 100px;
  background-image: url(../img/clock.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #104280;
  animation: fillProgress 3.8s infinite ease-in;
}

@keyframes fillProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: #104280;
  }
}
.counter {
  position: relative;
  top: -170px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.counter-text {
  font-size: 16px;
  text-align: center;
  position: relative;
  top: -180px;
}

.section-2 .pay__title {
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
}

.wait .progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  border: 4px solid #fff;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
}
.wait .progress-bar::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
}
.wait .progress-bar::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 45px;
  width: 100px;
  height: 100px;
  background-image: none;
}
.wait .counter {
  position: relative;
  top: 0px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  z-index: 3;
}

#block {
  width: 100%;
  height: 30px;
  position: relative;
  top: -50px;
}

.divider {
  width: 12.5%;
  height: 100%;
  position: absolute;
}

.divider:nth-child(1) {
  left: 12.5%;
}

.divider:nth-child(2) {
  left: 25%;
}

.divider:nth-child(3) {
  left: 37.5%;
}

.divider:nth-child(4) {
  left: 50%;
}

.divider:nth-child(5) {
  left: 62.5%;
}

.divider:nth-child(6) {
  left: 75%;
}

.divider:nth-child(7) {
  left: 87.5%;
}

.divider::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: white;
  position: absolute;
}

.toggle {
  position: relative;
  bottom: 25px;
}
.toggle__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}
.toggle__btn {
  color: #fff;
  width: 40px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(60, 60, 135);
  box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.3);
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */